# Автоматическая нормализация концовок строк
* text=auto eol=lf

# Исходники C++
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf

# Файлы данных
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf

# Исполняемые файлы и бинарники не трогаем
*.exe binary
*.png binary
*.jpg binary
